<form method="POST" action="./blogs">
    TITLE:<input type="text" name="Btitle" value={{Btitle}}>
    {{error.Btitle}} <br>
    BLOG:<textarea name="body" value={{body}}></textarea>
    {{error.body}}<br>
    <button type="submit">submit</button>
</form>
<br>
<hr>
<a href="/userblocks"><h1>All blocks</h1></a><br>
<hr>
<a href="/login"><h1>Logut</h1></a>