<form method="POST" action="./signin">
    EMAIL:<input type="text" name="email" value={{email}}>
    {{error.email}} <br>
    password:<input type="password" name="password">
    {{error.password}}<br>
    <button type="submit">submit</button>
</form>
<br>
<hr>
<a href="/login"><h1>NEW USER</h1></a>
